{{yield}}
<h1 class="post-title">{{@postTitle}}</h1>

<h3 class="user">{{@user}}</h3>
<h4 class="user-name">{{@userName}}</h4>
<h4 class="email">{{@userEmail}}</h4>

<p class="post-body">{{@postBody}}</p>