<div class="header">
    <h1>Posts</h1>
</div>

<div class="pagination">
    <button {{action this.getPrevPage}} class="btn-prev-page">prev</button>
    Page {{this.currentPage}} / 10
    <button {{action this.getNextPage}} class="btn-next-page">next</button>
</div>

{{#each this.posts as |post|}}
<div class="item">
    <div class="post">
        <h3 class="title-text">
            {{post.title}}
        </h3>
        <p class="body-text">
            {{post.body}}
        </p>
        {{#if this.currentUser}}
        <h4 class="user">{{this.currentUser.name}}</h4>
        {{/if}}

    </div>
</div>
{{/each}}